.select-address-box {
    width: 397px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    background: transparent;
    align-items: center;
}

.select-address-box:hover {
    width: 397px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    word-wrap: break-word;
    background: transparent;
    align-items: center;
    border-top: 1px solid #B5B5B5;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #B5B5B5;
}

.select-address-box-mob {
    width: calc( 100vw - 50px);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    background: transparent;
    align-items: center;
}

.logo-address {
    margin-left: 43px;
}

.title-address-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 125%;
    color: #2F2F2F;
    margin-left: 16px;
    width: 300px;
    word-break: break-word;
}